<html ng-app="net.enzey.examples">
	<head>
        <script src="lib/angular.min.js"></script>

		<script src="https://raw.githubusercontent.com/EnzeyNet/AutoComplete/master/src/AutoComplete.js"></script>
		<script src="http://EnzeyNet.github.com/AutoComplete/src/AutoComplete.js"></script>
        <script src="example.js"></script>

		<link href="http://EnzeyNet.github.com/AutoComplete/src/AutoComplete.css" rel="stylesheet" type="text/plain"></link>

		<style>
			 *, *:before, *:after {
			  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
			 }
		</style>

	</head>
	<body>
		<div ng-controller="autoCompeteExample">
		Angular Watch Count: {{watchCount}}
			<p>Type 'n' in the input</p>
			<p>Use up / down arrows to cycle</p>
			<p>Use enter / right arrow to accept hint value</p>
			
			<p>Returns Text</p>
			<div nz-auto-complete get-results-fn="searchFunction" ng-model="select1"></div>
			<div style="float: right"> {{select1}}</div>
			
			<div style="height: 60px;"></div>
			
			<p>Selection Required</p>
			<p>Returns Text</p>
			<div nz-auto-complete get-results-fn="searchFunction" ng-model="select2" selection-required="true"></div>
			<div style="float: right"> {{select2}}</div>

			<div style="height: 60px;"></div>

			<p>Returns Object</p>
			<div nz-auto-complete get-results-fn="searchFunctionObjs" ng-model="select3" display-path="foo.bar"></div>
			<div style="float: right"> {{select3}}</div>

			<div style="height: 60px;"></div>

			<p>Selection Required</p>
			<p>Returns Object</p>
			<div nz-auto-complete get-results-fn="searchFunctionAnyLoc" ng-model="select4" selection-required="true" display-path="foo.bar"></div>
			<div style="float: right"> {{select4}}</div>

</BR>
</BR>

		</div>
	</body>
</html>